In [1]:
import pandas as pd

In [13]:
# 1. Create a DataFrame for the 201908-citibike-tripdata data. 
# specify the dir where your data is
file_dir = 'C://Users/hulya/Documents/ClassFolder/bikesharing'
citibike_tripdata = pd.read_csv(f'{file_dir}/201908-citibike-tripdata.csv', low_memory=False)
# sample a handful of dataset rows randomly using the sample() method
citibike_tripdata.sample(n=5)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
386123,282,2019-08-05 20:02:36.3650,2019-08-05 20:07:18.7210,3783.0,Cliff St & Fulton St,40.708380,-74.004950,309.0,Murray St & West St,40.714979,-74.013012,31399,Customer,1995,1
1362065,748,2019-08-18 16:25:47.5750,2019-08-18 16:38:15.7500,3609.0,Vernon Blvd & 31 Ave,40.769247,-73.935450,3602.0,31 Ave & 34 St,40.763154,-73.920827,25464,Subscriber,1989,2
1788685,2367,2019-08-24 15:47:34.3350,2019-08-24 16:27:02.3140,530.0,11 Ave & W 59 St,40.771497,-73.990460,3541.0,Amsterdam Ave & W 125 St,40.813358,-73.956461,19128,Subscriber,1991,2
2261759,797,2019-08-30 18:05:05.0650,2019-08-30 18:18:22.2020,507.0,E 25 St & 2 Ave,40.739126,-73.979738,161.0,LaGuardia Pl & W 3 St,40.729170,-73.998102,38775,Customer,1995,2
1386132,929,2019-08-19 07:38:50.6810,2019-08-19 07:54:20.6400,3307.0,West End Ave & W 94 St,40.794165,-73.974124,3233.0,E 48 St & 5 Ave,40.757246,-73.978059,27706,Subscriber,1972,1

In [5]:
# 2. Check the datatypes of your columns. 
citibike_tripdata.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id           float64
start station name          object
start station latitude     float64
start station longitude    float64
end station id             float64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [14]:
citibike_tripdata['tripduration']

0           393
1           627
2          1132
3          1780
4          1517
           ...
2344219     216
2344220     117
2344221    1614
2344222    1301
2344223     419
Name: tripduration, Length: 2344224, dtype: int64

In [23]:
# 3. Convert the 'tripduration' column to datetime datatype.
# create a new column that contains the conversion keep the "tripduration" column to int64 type
citibike_tripdata['tripdatetime'] = ""
citibike_tripdata['tripdatetime'] = pd.to_datetime(citibike_tripdata['tripduration'], unit='m')
citibike_tripdata['tripdatetime']

0         1970-01-01 06:33:00
1         1970-01-01 10:27:00
2         1970-01-01 18:52:00
3         1970-01-02 05:40:00
4         1970-01-02 01:17:00
                  ...
2344219   1970-01-01 03:36:00
2344220   1970-01-01 01:57:00
2344221   1970-01-02 02:54:00
2344222   1970-01-01 21:41:00
2344223   1970-01-01 06:59:00
Name: tripdatetime, Length: 2344224, dtype: datetime64[ns]

In [24]:
# 4. Check the datatypes of your columns. 
citibike_tripdata.dtypes
# The data in the "tripdatetime" column is converted to a datetime datatype and has the correct time format

tripduration                        int64
starttime                          object
stoptime                           object
start station id                  float64
start station name                 object
start station latitude            float64
start station longitude           float64
end station id                    float64
end station name                   object
end station latitude              float64
end station longitude             float64
bikeid                              int64
usertype                           object
birth year                          int64
gender                              int64
tripdatetime               datetime64[ns]
dtype: object

In [25]:
citibike_tripdata.head(3)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,tripdatetime
0,393,2019-08-01 00:00:01.4680,2019-08-01 00:06:35.3780,531.0,Forsyth St & Broome St,40.718939,-73.992663,408.0,Market St & Cherry St,40.710762,-73.994004,35305,Subscriber,1996,2,1970-01-01 06:33:00
1,627,2019-08-01 00:00:01.9290,2019-08-01 00:10:29.7840,274.0,Lafayette Ave & Fort Greene Pl,40.686919,-73.976682,3409.0,Bergen St & Smith St,40.686744,-73.990632,38822,Subscriber,1998,2,1970-01-01 10:27:00
2,1132,2019-08-01 00:00:04.0480,2019-08-01 00:18:56.1650,2000.0,Front St & Washington St,40.702551,-73.989402,3388.0,President St & Henry St,40.682800,-73.999904,18373,Subscriber,1988,1,1970-01-01 18:52:00

In [28]:
# 5. Export the Dataframe as a new CSV file without the index.
# Create the output file (CSV).
output_data_file = "C://Users/hulya/Documents/ClassFolder/bikesharing/citibike_trip_db.csv"
# Export the City_Data into a CSV.
citibike_tripdata.to_csv(output_data_file,index=False)